@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Encode Sans", system-ui, sans-serif;
    }
}

input,
select {
    @apply rounded-lg border border-gray-400 bg-gray-100 px-3 py-2 shadow-inner focus:outline-yellow-900 disabled:border-gray-100 disabled:bg-gray-200 disabled:opacity-40;
}

label {
    @apply pl-1 text-sm font-semibold;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a8a8;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
